<div class="col-lg-12 p-0 bg-img h-md-100" style="background-size: 100% 100%;">
    <img class="logo" src="assets/images/symple_logo.png" alt="" style="height: 3.5rem;">
    <div class="text-white h-100 p-5" style="margin-top: 0 !important; height: 100vh !important; overflow-x: hidden; display: flex; align-items: center; justify-content: center;">
      <div class="show-effect" style="position: absolute; display: flex;">
        <img class="popupBg" src="assets/images/popup-bg.png" alt="" style="position: relative; bottom: 3rem; left: 0; background-color: white; border-radius: 10px; width: 301px; height: 423px;"> 
        <div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: block; margin: auto; text-align: center;">
          <img class="popupImg" src="assets/images/popup-img.png" alt="" style="height:17rem;">
          <div class="congratzText" style="line-height: 3rem; font-weight: 700; margin-top: 1rem; color:black; font-size: 3rem;">Congratulations!</div><br />
          <p style="font-size: 1.1rem; color:black;"> You have setup a Symple Account with Free Plan for your company.<br />
          A verification email has been sent to your email address. Please follow the step<br />
          to verfiy your email.<br />
          </p>
          <button class="show-effect" style="border-radius: 4px; padding: 0.5rem; width: 17rem; background-color: #2295F0; color: white; margin-top: 2rem; font-size: 1.7rem;">OK</button>
        </div>
      </div>
    </div>
  </div>
  