<div class="d-md-flex h-md-100 align-items-center" style="background-color:white;">
    <div class="col-md-6 p-0 bg-img h-md-100" style="background-size: 100% 100%;">
      <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center" style="margin-top: 0 !important;">
        <div class="logoarea pt-5 pb-5">
          <img class="logo" src="assets/images/symple_logo.png" alt="" style="float: left; height: 3.5rem;">
          <h5 class="mb-4 font-weight-bold" style="line-height: 5rem; font-size: 5rem; margin-top: 5.5rem;">Sign up to <br />Symple Free Plan</h5>
          <ul style="text-align: -webkit-center; margin-top: 2.5rem;">
            <li style="width: fit-content; font-size: 2rem;">Start using with <strong>Free 10 Users</strong></li>
            <li style="width: fit-content; font-size: 2rem;">Full access to Activity Module</li>
            <li style="width: fit-content; font-size: 2rem;">Full access tp Attendance Module</li>
            <li style="width: fit-content; font-size: 2rem;">Full access to Leave Module</li>
          </ul>
          <img src="assets/images/screens.png" alt="" style="display: block; width: 100%; height: 100%; object-fit: cover; margin-top:1rem;">
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
      <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" style="position: relative;">
        <h3 class="mb-4" style="margin-bottom: 2.5rem; font-weight: 600; line-height: normal; font-size: xx-large; padding: 5rem;">Setting up your <br /> Symple Company Account
          <form class="form-horizontal" [formGroup]="formGrp" #f="ngForm" autocomplete="off" novalidate style="margin-top: 3rem;">
            <div class="form-group" style="padding: 0 1.5rem;">
              <label for="tenant" style="font-size:2rem;">Symple Company Account Name</label>
              <input class="form-control" id="tenant" formControlName="tenant" type="text" placeholder="Please enter your company name" style="padding: 2.375rem .75rem; font-size: 1.5rem;">
              <validation-messages [control]="formGrp.controls.tenant"></validation-messages>
              <small style="color: red; font-size: small;" *ngIf="formGrp.get('tenant').errors?.tenantExists">Company Account Name already taken</small>
            </div>
            <div class="form-group" style="font-size: 2rem;">
              <label class="col-lg-3 control-label" style="max-width: max-content; width: fit-content; color:black;">Company Time Zone</label>
              <div class="col-lg-12">
                <select class="bootstrap-select" formControlName="timezone" style="padding: 2.375rem .75rem; font-size: 1.5rem;">
                  <option value="">Please select your time zone</option>
                  <option *ngFor="let i of timezones" [value]="i.value">{{i.label}}</option>
                </select>
              </div>
            </div>
            <div class="form-group" style="padding: 0 1.5rem;">
              <label for="companyAddress" style="font-size:2rem;">Company Location</label>
              <div class="location_input" style="padding-right: 3rem; border: 0.5px solid #DFDFDF;">
                <input class="form-control" id="companyAddress" formControlName="companyAddress" type="text" placeholder="Please enter your company address" style="padding: 2.375rem .75rem; font-size: 1.5rem;">
              </div>
              <validation-messages [control]="formGrp.controls.companyAddress"></validation-messages>
            </div>
            <div class="form-group" style="padding: 0 1.5rem;">
              <label for="companyEmail" style="font-size:2rem;">Company Email</label>
              <input class="form-control" id="companyEmail" formControlName="companyEmail" type="email" placeholder="company@test.email" style="padding: 2.375rem .75rem; font-size: 1.5rem;">
              <validation-messages [control]="formGrp.controls.companyEmail"></validation-messages>
            </div>
            <div class="form-group" style="padding: 0 1.5rem;">
              <label for="companyPhone" style="font-size:2rem;">Company Phone Number</label>
              <input class="form-control" id="companyPhone" formControlName="companyPhone" type="text" placeholder="+60161234567" style="padding: 2.375rem .75rem; font-size: 1.5rem;">
              <validation-messages [control]="formGrp.controls.companyPhone"></validation-messages>
            </div>
            <div class="form-group" style="display:flex; justify-content:center;">      
              <button class="btn btn-success btn-round btn-block shadow-sm" (click)="setup()" [disabled]="formGrp.invalid" type="button" style="background-color: #2295F0; margin-top: 1.5rem; border-radius:7px !important; width: 25rem; padding: 1rem; font-size: 2rem;">Next</button>
            </div>
          </form>
        </h3>
      </div>
    </div>
  </div>